<section class="center">
    <h1>{{title}}</h1>
<section>
    <img src="/images/team.jpg" alt="Team image">
</section>
<p class="centerText">This is a one page assignment that will dynamically display our team, the members, a bit about them and what role they have been selected to do in our FIP campaign.</p>
</section>