<section class="center">
    <h1>{{title}}</h1>
    <section>
        <img src="/images/brody.jpg" alt="Team image">
    </section>
    <p>Welcome to {{title}}. This one page assignment will display our team, the members and what role they have been
        selected to do.</p>
</section>
