<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
    <h1> MAIN PAGE</h1>
    <nav>
      <ul>
        <li>
      <a href="/team/brody">Brody</a>
      <a href="/team/Roy">Roy</a>
      <a href="/team/Evan">Evan</a>
      <a href="/team/Matt">Matt</a>
      <a href="/team/Gio">Gio</a>
        </li>
      </ul>
    </nav>
    </header>
    <h1> Welcome to our Team Page</h1>
    <hr>
    {{{body}}}
    <hr>
    <h3>Back to static content</h3>

    <footer id="foot">
      <h2>Footer location</h2>
    </footer>
  </body>
  <script src="/js/main.js"></script>
</html>
