<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header>
      <section id="logo">
            <img id="logoimage" src="https://via.placeholder.com/150.png/09f/fff" alt="team logo">
      </section>

    <nav>
      <ul>
        <li>
        <a href="/" href="1">Home</a>
      <a href="/team/brody" href="1">Brody</a>
      <a href="/team/Roy">Roy</a>
      <a href="/team/Evan">Evan</a>
      <a href="/team/Matt">Matt</a>
      <a href="/team/Gio">Gio</a>
        </li>
      </ul>
    </nav>
    </header>
    <h1> Welcome to our Team Page. Please select one of the names at the top to view each member</h1>
    <hr>
    <section class="fillsection">
       {{{body}}}
    </section>

    <footer id="foot">
      <h2>Footer location</h2>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/js/main.js"></script>
</html>
