body {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: #343434;
}

a {
  color: #000000;
}

h1{
  color: rgb(255, 255, 255);
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
}

h3{
  font-size: 2.4vw;
}

h2, h3, p{
  color: #fff;
}

p{
  font-size: 2vw;
}