nav ul{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  background-color: rgb(255, 255, 255);
  height: 5em;
   display: flex;
  }
  nav ul li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E72323;
  }
  ul li a{
  
    align-items: center;
    text-decoration: none;
    font-size: 2.5vw;
    background-color: #f43e3e;
    padding: .2vw;
    border-radius: .2em ;
    transition: ease-in-out 2s;
  }
  .header{
    display: flex;
    width: 100%;
  }
  #logo{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em;
  }
  
  #logoimage{
    max-width: 60%;
    padding: 1em;
  }

  a:hover {
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
  }
  