h1,h2,h3,h4 {
    font-family: 'Lexend';
}

.centerText {
    width: 60%;
    justify-self: center;
    padding: 2em;
  }

  .centerText p {
    align-self: center;
    justify-self: center;
    align-items: center;
  }